<h2 id="title">Table color</h2>

<table>
{{#each wrappedFilteredItems as |wrapper|}}
  {{ item-table-row model=wrapper.item class=wrapper.colored click=(action 'assignColor' wrapper.item) }}
{{/each}}
</table>